.css-19bb58m {
  margin: 0 !important;
}
.css-1u9des2-indicatorSeparator {
  align-self: stretch;
  width: 1px;
  background-color: rgb(204, 204, 204);
  background-color: transparent !important;
  margin-bottom: 8px;
  margin-top: 8px;
  margin: 0px;
  padding: 0px;
}
.css-tj5bde-Svg {
  overflow: hidden;
  display: inline-block;
  fill: #999 !important;
  line-height: 1;
  stroke: #999 !important;
  stroke-width: 0;
  transition: 0.3s;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
#react-select-4-listbox.css-qr46ko {
  padding: 0;
}
