/* .top-bar {
  padding-top: 0.8rem;
  padding-bottom: 0.6rem;
  font-size: 1.4rem;
  color: #fff !important;
  background-color: var(--color-primary) !important;
}
@media (width <= 991px) {
  .top-bar {
    text-align: center !important;
  }
} */

.top-bar-icon{
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 ;
}