.profile-strength-bar {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
}
.profile-strength-bar span + span {
  color: var(--civi-color-accent);
}
.profile-progress .progress {
  height: 1.6rem !important;
  font-size: 1.2rem;
}
.company-header {
  margin-top: 28px;
  display: flex;
  align-items: center;
}
.img-comnpany {
  margin-right: 12px;
}
.img-comnpany .logo-comnpany {
  height: 60px;
  width: 60px;
  object-fit: cover;
  background-color: rgb(249, 249, 249);
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  max-width: none;
  vertical-align: middle;
  border: 0px;
}
.job-logo {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}
.info-jobs h3 a {
  display: block;
  margin-bottom: 3px;
  text-decoration: none;
  background-color: transparent;
  color: var(--civi-color-text);
  transition: 0.3s;

  & .icon {
    font-size: 14px;
    margin-left: 6px;
  }
}
.control-btn {
  margin-top: 2.4rem;
  display: flex;
  justify-content: end;
  gap: 1.2rem;
}
.candidate-phone {
  margin: 0 !important;
}
.btn-more {
  color: var(--civi-color-accent);
  transition: all 0.3s linear;

  &:hover {
    scale: 1.05;
  }
}
.label-present {
  color: var(--civi-color-accent);
}
.progress-index {
  width: 24rem;
  height: 24rem;
  display: flex;
  /* margin-left: 4.8rem; */
  
}
.progress-index h1 {
  margin-bottom: 0.5rem;
  color: var(--civi-color-primary);
  font-weight: 500;
  font-size: 34px;
  line-height: inherit;
}
.progressIcon {
  cursor: help;
}
.progressCheck{
  margin-right: 1.2rem;
  color: var(--civi-color-accent);
  /* background-color: #fff; */
}
.jobIcon{
  width: 20px !important;
  height: 24px !important;
}