.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px !important;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Poppins, sans-serif;
}
.modal-body {
  position: absolute;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  /* width: 400px !important; */
  box-sizing: border-box;
  margin: 0px;
  font-family: Poppins, sans-serif;
}

.loginPopup {
  opacity: 1;
  visibility: visible;
  inset: 0px;
  z-index: 20;
  transition: 0.3s;
  position: fixed;
  box-sizing: border-box;

  width: 400px !important;
}
.loginModal {
  opacity: 1;
  visibility: visible;
  top: 100px;
  max-height: calc(-200px + 100vh);
  overflow: auto;
  transition: 0.3s;
  position: fixed;
  z-index: 5;
  left: 15px;
  right: 15px;
  margin: 0px auto;
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 3px;
  max-width: 400px;

  box-sizing: border-box;
}
@media only screen and (max-width: 479px) {
  .loginModal {
    top: 20px;
    padding: 20px 15px;
    width: 90% !important;
    width: inherit;
  }
}
@media only screen and (max-width: 600px) {
  .loginModal {
    top: 30px;
    max-height: calc(-60px + 100vh);
  }
}
.close-btn {
  position: absolute;
  right: 30px;
  text-decoration: none;
  background-color: transparent;
  color: var(--civi-color-text);
  transition: 0.3s;
  box-sizing: border-box;

  &:hover {
    color: var(--civi-color-accent);
    text-decoration: none;
  }
}
.loginModalHeader .tabsForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}
.btn-link {
  color: rgb(141, 141, 141);
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  margin-right: 20px;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
  box-sizing: border-box;

  &:hover {
    color: var(--civi-color-accent);
    text-decoration: none;
  }
}
.btn-link.active {
  color: var(--civi-color-primary);
  border-color: var(--civi-color-primary);
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  margin-right: 20px;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s linear;
  border: 0;

  &::after {
    content: "";
    position: absolute;
    border: 1.5px solid rgb(141, 141, 141);
    width: 100%;
    bottom: -4px;
    left: 0;
  }
}
.tabsForm .loading-effect {
  display: none;
  position: relative;
  bottom: -2px;
  box-sizing: border-box;
}
.tabsForm .loading-effect .civi-dual-ring {
  width: 28px;
  height: 28px;
  display: inline-block;
  z-index: 15;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;

  &::after {
    width: 24px;
    height: 24px;
    border-width: 3px;
    content: " ";
    display: block;
    margin: 1px;
    border-radius: 50%;
    border-color: var(--civi-color-accent) transparent var(--civi-color-accent)
      transparent;
    animation: 1.2s linear 0s infinite normal none running activeRing;
  }
}
@keyframes activeRing {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-normal {
  width: 100%;
  appearance: button;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  border-radius: 30px;
  backface-visibility: hidden;
  transform: translate3d(0px, 0px, 0px);
  padding: 9px 26px;
  color: rgb(255, 255, 255);
  outline: 0px;
  cursor: pointer;
  border: solid 1px var(--civi-color-accent);
  background-color: var(--civi-color-accent);
  margin: 0px;
  font-family: inherit;
  overflow: visible;
  text-transform: none;
  border-color: var(--civi-color-accent);
  height: 45px;
  
  &:focus {
    color: rgb(255, 255, 255);
    outline: 0px;
  }
  &:hover {
    transition: 0.3s;
    color: var(--civi-color-accent);
    background-color: transparent;
  }
}
.form-control input {
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid rgb(221, 221, 221);
  padding: 10.5px 16px;
  color: var(--civi-color-text);
  width: 100%;
  background-color: rgb(255, 255, 255);
  animation-name: autofill;
  animation-fill-mode: both;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 30px inset !important;
  margin: 0px;
  font-family: inherit;
  line-height: inherit;
  overflow: visible;
  transition: 0.3s;
  box-sizing: border-box;
}
.logIn {
  display: none;
}
.logIn.active {
  display: block;
}
.signUp {
  display: none;
}
.signUp.active {
  display: block;
}
.col-group span .icon{
   margin-right: 1.2rem;
   margin-bottom: 0.4rem;
}
.signUpPhone{
  margin-top: 1rem !important;
}